@import './variables.scss';

.btn {
    padding: $padding $padding*2;
    background: $bg-color;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: $radius;
    outline: none;
    &:hover {
        background: #fff;
        color: $bg-color;
        border: 1px solid $bg-color;
        box-sizing: border-box;
        margin: -1px;
    }
    &:active {
        background: $bg-color;
        color: #fff;
    }
}



